
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="background-color:#5c755e;margin:10px;height:90px;border-radius:10px;">
        <center>
            <h1 style="color:white;font-size:70px;">Django Todo App</h1>
        </center>
    </div>
    <center>
        <div style="background-color:#5c755e;width:700px;border-radius:10px"><br><hr>
            <h2 style="color:white">Input Your Daily Activity Here</h2>
            <form method="POST">
                <div style="color:white">
                    {% csrf_token %}
                    {{form}}
                    <button type="submit">Submit</button>
                </div>
            </form><br><hr>
            {% for todo in task %}
            <p>{{todo.task}}</p>
            <a href="{% url 'updateItem' todo.id %}"><button type="submit">Update</button></a>
            <a href="{% url 'deleteItem' todo.id %}"><button type="submit">Delete</button></a><br><hr>
            {% endfor %}
        </div>
    </center>
</body>
</html>